/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  margin-bottom: 100px; }
  header img {
    display: block;
    margin: 0 auto;
    margin-top: 20px; }
    header img:hover .photo {
      transform: scale(20);
      display: none; }
  header h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 10px; }
  header p {
    text-align: center;
    margin-top: 10px; }

section {
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 650px) {
    section {
      width: 100%; } }

#gallery {
  display: flex;
  flex-wrap: wrap; }
  #gallery .photo {
    flex-direction: column;
    flex-basis: 30%;
    height: 450px;
    list-style: none;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 300ms all ease-in; }
    #gallery .photo img {
      min-height: 450px;
      width: 100%; }
    #gallery .photo:hover ul {
      bottom: 20%; }
    #gallery .photo ul {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      overflow: hidden;
      width: 100%;
      height: 20%;
      transition: 300ms all ease; }
      #gallery .photo ul li {
        width: 100%;
        height: 30px;
        margin-top: 10px; }
        #gallery .photo ul li h2 {
          height: 30px;
          display: block;
          padding-top: 5px;
          float: left;
          color: white;
          padding-left: 10px; }
        #gallery .photo ul li .icons {
          width: 50px;
          height: 30px;
          min-height: 0;
          margin-left: 20px;
          float: left; }
  #gallery .photo:not(:nth-child(3n+1)) {
    margin-left: 5%; }
  @media (max-width: 1400px) {
    #gallery .photo:not(:nth-child(3n+1)) {
      margin-left: 0; }
    #gallery .photo {
      flex-basis: 45%; }
    #gallery .photo:not(:nth-child(2n+1)) {
      margin-left: 10%; } }
  @media (max-width: 650px) {
    #gallery .photo:not(:nth-child(2n+1)) {
      margin-left: 0; }
    #gallery .photo {
      flex-basis: 100%;
      margin-bottom: 20px; }
      #gallery .photo ul {
        bottom: 20%; } }
